<div class="row">
  <div class="col s12 m4">
    <div class="card orange">
      <div class="card-content white-text">
        <div class="card-title">
          <%= image_tag(@user.image) %>
          <span class="card-title"><%= @user.name %></span>
          <p><%= @user.role %></p>
        </div>
      </div>
      <div class="card-action">
        <p class="card-title">My Hobbies: <%= @user.hobby %></p>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card orange">
      <div class="card-content white-text">
        <span class="card-title">My Mission</span>
        <p><%= @user.mission %></p>
      </div>
      <div id="member-efforts" class="card-action">
        <%= render partial: 'partials/effort_card' %>
        <%= link_to "View Efforts", efforts_path, class: "waves-effect waves-light btn modal-trigger"%>
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card orange">
      <div class="card-content white-text">
        <span class="card-title">My Members</span>
        <% @user.efforts.uniq.each do |effort| %>
            <%= image_tag(effort.member.image) %>
        <% end %>
      </div>
    </div>
  </div>
</div>