<div class="row">
  <div class="col s12 m8">
    <div class="card light-blue darken-2 profile-card">
      <div id="member-title" class="card-content white-text">
        <div>
          <%= image_tag(@user.image) %>
          <span><h3><%= @user.name %></h3>
          <h5 id="role-title"><%= @user.role %></h5></span>
          <strong>My Hobbies:</strong> <%= @user.hobby %><br>
          <strong>My Mission:</strong> <%= @user.mission %>
        </div>
      </div>
    </div>
    <div id="s_list" class="col m6">
      <h5>My Members</h5>
      <ul class="collapsible popout" data-collapsible="accordion">
        <% @user.member_count.each do |member_pair| %>
            <li>
              <div class="collapsible-header"><i class="material-icons">stars</i><%= member_pair.first.name %></div>
              <div class="collapsible-body">
                <div id="profile-card" class="card">
                  <div class="card-content row">
                    <div class="s12 l3 col">
                      <%= image_tag(member_pair.first.image) %><div id="chip-color" class="chip"><%= member_pair.last %></div>
                    </div>
                    <div class="s12 l9 col">
                      Mission: <label><%= image_tag(member_pair.first.mission) %></label><br>
                      Hobbies: <label><%= image_tag(member_pair.first.hobby) %></label>
                    </div>
                  </div>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
    <div id="v_list" class="col m6">
      <h5>My Volunteers</h5>
      <ul class="collapsible popout" data-collapsible="accordion">
        <% @user.volunteer_count.each do |volunteer_pair| %>
            <li>
              <div class="collapsible-header"><i class="material-icons">shopping_basket</i><%= volunteer_pair.first.name %></div>
              <div class="collapsible-body">
                <div id="profile-card" class="card">
                  <div class="card-content row">
                    <div class="s12 l3 col">
                      <%= image_tag(volunteer_pair.first.image) %><div id="chip-color" class="chip"><%= volunteer_pair.last %></div>
                    </div>
                    <div class="s12 l9 col">
                      Mission: <label><%= image_tag(volunteer_pair.first.mission) %></label><br>
                      Hobbies: <label><%= image_tag(volunteer_pair.first.hobby) %></label>
                    </div>
                  </div>
                </div>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col s12 m4">
    <div id="my-efforts" class="card white">
      <div id="volunteer-efforts" class="card-content black-text">
        <table>
          <thead>
          <tr>
            <th data-field="id">Active Efforts You Sponsor</th>
          </tr>
          </thead>
          <tbody>
          <% current_user.efforts.uniq.each do |effort| %>
              <% if effort.schedule && effort.sponsors.include?(current_user) %>
                  <tr>
                    <td><%= link_to effort.title, user_effort_path(id: effort.id, user: effort.member) %></td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>