<div class="row">
  <div class="col s12 m3">
    <div class="card light-blue lighten-2 profile-card">
      <div id="member-title" class="card-content white-text">
        <div class="card-title">
          <%= image_tag(@user.image) %>
          <h4 class="card-title"><%= @user.name %></h4>
          <h6><%= @user.role %></h6>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m2">
    <div class="card light-blue lighten-2 profile-card">
      <div class="card-content white-text">
        <span class="card-title">My Efforts</span>
        <a class="waves-effect waves-light btn modal-trigger" href="#modal2" id="modal2-button">Active Efforts</a>
        <a class="waves-effect waves-light btn modal-trigger" href="#modal3" id="modal3-button">Past Efforts</a>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <div class="card white profile-card">
      <div id="member-title" class="card-content black-text">
        <table>
          <thead>
          <tr>
            <th data-field="id">Sponsorships</th>
            <th data-field="name">Rewards</th>
            <th data-field="price">Rave Reviews</th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td>4</td>
            <td>22</td>
            <td>12</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col s12 m1">
    <div id="profile-stripe1" class="card">
      <div class="card-content white-text">
        <div class="card-title">
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m1">
    <div id="profile-stripe2" class="card">
      <div class="card-content white-text">
      </div>
    </div>
  </div>
  <div class="col s12 m1">
    <div id="profile-stripe3" class="card">
      <div class="card-content white-text">
        <div class="card-title">
        </div>
      </div>
    </div>
  </div>
  <div id="member-efforts" class="card-action">
    <%= render partial: 'partials/effort_card' %>
  </div>
</div>
</div>
<div class="col s12">
  <div class="card light-blue lighten-2">
    <div class="card-content white-text">
      <p><span class="card-title">My Mission: </span><%= @user.mission %></p>
    </div>
  </div>
</div>
<div class="col s12">
  <div id="hobbies" class="card light-blue lighten-2">
    <div class="card-content white-text">
      <p><span class="card-title">My Hobbies: </span><%= @user.hobby %></p>
    </div>
  </div>
</div>
<div class="col s12">
  <div id="members" class="card light-blue lighten-2">
    <div class="card-content white-text">
      <span class="card-title">My Members:</span>
      <% @user.member_count.each do |member_pair| %>
          <%= image_tag(member_pair.first.image) %>
          <div class="chip"><%= member_pair.last %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="col s12">
  <div id="volunteers" class="card light-blue lighten-2">
    <div class="card-content white-text">
      <span class="card-title">My Volunteers:</span>
    <% @user.volunteer_count.each do |volunteer_pair| %>
          <%= image_tag(volunteer_pair.first.image) %>
          <div class="chip"><%= volunteer_pair.last %></div>
      <% end %>
    </div>
  </div>
</div>
</div>