<div id="effort-form-content" class="row">
  <%= form_for @effort, url: user_efforts_path do |f| %>
      <div class="col s6">
        <h5 id="set-location">Set Location</h5>
        <div id="map-container"><div id="map"></div></div>
      </div>
      <div class="col s6">
        <div class="row">
          <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <%= f.label :title, "Name Your Effort" %>
          <%= f.text_field :title, class: "materialize-textarea" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <%= f.label :description, "What are you going to do?" %>
            <%= f.text_area :description, class: "materialize-textarea" %>
          </div>
        </div>
        <div class="row">
              <div class="input-field col s4">
                <p>Select Your Reward:</p>
                <%= f.select :requested_reward, ['Clothing','Food','Job Resources'], {} %>
              </div>
              <div class="input-field col s4">
                <p>Select Your Effort Length:</p>
                <%= f.select :length, ['1 Day','1 Week'], {} %>
              </div>
              <div class="input-field col s4">
                <button id="effort-submit" class="waves-effect waves-light btn-large" name="action" data-id= <%= @effort.id%> ><%= f.submit "SUBMIT", id: "effort-create" %>
                  <i class="material-icons left">send</i>
                </button>
              </div>
          </div>
          <div class="row">
            <%= f.hidden_field 'ne_lat' %>
            <%= f.hidden_field 'ne_lng' %>
            <%= f.hidden_field 'sw_lat' %>
            <%= f.hidden_field 'sw_lng' %>
          </div>
      </div>
  <% end %>
</div>
  <script async defer src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>
  <script>
      $(document).ready(function() {
          $('select').material_select();
      });
  </script>