<div class="row">
  <div class="col m12">
    <div class="row">
      <div class="col m3">
        <div class="vote-card card green">
          <div class="card-content white-text">
            <div class="card-title white-text">
              <span class="card-title">Voting Results</span>
            </div>
            <div id="voting-results">
              <h6>Yes: <span id="yes-result"><%= @effort.vote.yes %></span></h6>
              <h6>No: <span id="no-result"><%= @effort.vote.no %></span></h6>
            </div>
          </div>
        </div>
      </div>
      <% @effort.sponsors.shuffle.each do |sponsor| %>
          <div class="col m3">
            <div class="vote-card card light-blue">
              <div class="card-content white-text">
                <div class="card-title white-text">
                  <%= image_tag(sponsor.image) %>
                  <span class="card-title"><%= sponsor.name %></span>
                </div>
                <p>Time Remaining to Vote: <%= @effort.schedule.time_remaining %> hours</p>
                <% if sponsor == current_user %>
                    <div class="vote-buttons">
                      <% if current_user.votes.include?(@effort.vote) %>
                      <p>You already voted!</p>
                      <% else %>
                      <button id="yes-vote" class="btn-floating btn-large waves-effect waves-light green" data-id=<%= @effort.vote.id%>, user-id=<%= current_user.id%> >YES</button>
                      <button id="no-vote" class="btn-floating btn-large waves-effect waves-light red" data-id=<%= @effort.vote.id %>, user-id=<%= current_user.id%> >NO</button>
                      <% end %>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $('#yes-vote').on('click', function(){
      var vote_params    = { vote: { id: $(this).attr("data-id"), type: "yes", user_id: $(this).attr("user-id") } }
      var $votingButtons = $(this).parent();
      debugger;

      $.ajax({
        type:    "PUT",
        url:     "/votes/" + $(this).attr("data-id"),
        data:    vote_params,
        success: function(){
          var votes = parseInt($("#yes-result").html()) + 1;
          $("#yes-result").html(votes);
          $votingButtons.children().remove();
          $votingButtons.prepend("<p>You voted Yes!</p>")
        }
      })
    })

    $('#no-vote').on('click', function(){
      var vote_params = { vote: { id: $(this).attr("data-id"), type: "no", user_id: $(this).attr("user-id") } }
      var $votingButtons = $(this).parent();

      $.ajax({
        type:    "PUT",
        url:     "/votes/" + $(this).attr("data-id"),
        data:    vote_params,
        success: function(){
          var votes = parseInt($("#no-result").html()) + 1;
          $("#no-result").html(votes);
          $votingButtons.children().remove();
          $votingButtons.prepend("<p>You voted No</p>")
        }
      })
    })
  })
</script>