<div class="effort-show row">
  <div class="col m6">
    <div class="card white">
      <div class="card-content">
        <div class="card-title">
          <%= image_tag(@effort.member.image) %>
          <span class="card-title">Effort Information</span>
        </div>
        <h6>Title: <%= @effort.title %></h6>
        <h6>Member: <%= @effort.member.name %></h6>
        <h6>Description: <%= @effort.description %></h6>
        <h6>Length: <%= @effort.length %></h6>
        <div id="show-map-container"><div id="show-map"></div></div>
        <br>
        <br>
      </div>
    </div>
  </div>
  <div class="col m6">
    <div class="card white">
      <div class="card-content">
        <span class="card-title">Sponsors & Volunteer</span>
        <% if current_sponsor && @effort.sponsors.count < 7 %>
            <%= link_to "Add Sponsor", user_effort_path, :method => "put", id: "add-sponsor", class: "btn-floating btn-large waves-effect waves-light red" %>
        <% elsif current_volunteer && @effort.volunteer_id.nil? %>
            <%= link_to "Add Volunteer", user_effort_path, :method => "put", id: "add-sponsor", class: "btn-floating btn-large waves-effect waves-light red" %>
        <% end %>
        <div class="row">
          <div id="effort-sponsors" class="container">
            <% if @effort.sponsors.count > 0 %>
                <% @effort.sponsors.each do |sponsor|  %>
                    <div id="sponsor" class="col m3 s-v">
                      <%= image_tag(sponsor.image) %>
                    </div>
                <% end %>
            <% end %>
            <div id="volunteer" class="col m3 s-v">
              <%= image_tag(@effort.volunteer.image) if @effort.volunteer %>
            </div>
          </div>
        </div>
        <div class="row">
          <span class="card-title">Effort Progress</span>
          <% if @effort.schedule %>
              <h6>Start Date: <%= @effort.schedule.start_date %></h6>
              <h6>Time Remaining: <%= @effort.schedule.time_remaining %> hours remaining</h6>
          <% else %>
              <h6>Start Date: TBD</h6>
              <h6>Time Remaining: TBD</h6>
          <% end %>
          <span class="card-title">Rewards</span>
          <h6>Type: <%= @effort.member.name %> requested <%= @effort.requested_reward %></h6>
          <h6>Frequency: Once a day</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @effort.schedule %>
    <% if (current_user == @effort.volunteer || @effort.sponsors.include?(current_user)) && @effort.result == "Success" && @effort.schedule.inactive %>
        <%= render partial: 'sponsor_schedule' %>
    <% elsif @effort.sponsors.include?(current_user) && @effort.schedule.vote_period %>
        <%= render partial: 'sponsor_vote' %>
    <% end %>
<% end %>
<script>
  var showRectangle;
  var showMap;

  function initMap() {

    var effortCenter = {lat: <%= @effort.ne_lat %>, lng: <%= @effort.ne_lng %> }

    showMap = new google.maps.Map(document.getElementById('show-map'), {
      center: effortCenter,
      zoom: 12
    });


    var bounds = {
      north: <%= @effort.ne_lat %>,
      south: <%= @effort.sw_lat %>,
      east: <%= @effort.ne_lng %>,
      west: <%= @effort.sw_lng %>
    };

    // Define the rectangle and set its editable property to true.
    showRectangle = new google.maps.Rectangle({
      strokeColor: '#7F0000',
      strokeOpacity: 0.8,
      strokeWeight: 4,
      fillColor: '#e02032',
      fillOpacity: 0.35,

      bounds: bounds,
      editable: false,
      draggable: false
    });

    showRectangle.setMap(showMap);

  }

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap"></script>



