<% cache(cache_key_for(Effort)) do %>
    <div class="row">
  <% @efforts.each do |effort| %>
      <% cache(effort) do %>
          <div class="col s12 m2">
            <div id="effort-index-card" class="card darken-3">
              <div class="card-content">
                <span class="card-title"><b><%= link_to effort.title, user_effort_path(user: effort.member, id: effort.id) %></b></span>
                <p><%= effort.member.name %></p>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>
</div>
<% end %>

<!--<div id="map-container"><div id="effort-map"></div></div>-->
<script>
    var effortMap;

    function initMap() {

        effortMap = new google.maps.Map(document.getElementById('effort-map'), {
            center: {lat: 39.7392, lng: -104.9903 },
            zoom: 8
        });

        <%= @efforts.each do |effort| %>
        var effortRectangle;

        var bounds = {
            north: <%= effort.ne_lat %>,
            south: <%= effort.sw_lat %>,
            east: <%= effort.ne_lng %>,
            west: <%= effort.sw_lng %>
        };

        effortRectangle = new google.maps.Rectangle({
            strokeColor: '#7F0000',
            strokeOpacity: 0.8,
            strokeWeight: 4,
            fillColor: '#e02032',
            fillOpacity: 0.35,
            bounds: bounds,
            editable: false,
            draggable: false
        });

        effortRectangle.setMap(effortMap);

        <% end %>
    }
</script>
