<div class="row">
  <% if @pending_efforts.count > 0 %>
      <div class="col s4 effort-index-col">
        <h5>Efforts for Food</h5>
      <% @food_efforts.each do |effort| %>
          <div class="col m6">
            <div id="effort-index-card" class="card darken-3">
              <div class="card-content">
                <%= image_tag(effort.member.image) %>
                <span class="card-title"><b><%= link_to effort.title, user_effort_path(user: effort.member, id: effort.id) %></b></span>
                <p><%= effort.member.name %></p>
              </div>
            </div>
          </div>
      <% end %>
      </div>
      <div class="col s4 effort-index-col">
        <h5>Efforts for Clothes</h5>
        <% @clothing_efforts.each do |effort| %>
            <div class="col m6">
              <div id="effort-index-card" class="card darken-3">
                <div class="card-content">
                  <%= image_tag(effort.member.image) %>
                  <span class="card-title"><b><%= link_to effort.title, user_effort_path(user: effort.member, id: effort.id) %></b></span>
                  <p><%= effort.member.name %></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
      <div class="col s4 effort-index-col">
        <h5>Efforts for Job Resources</h5>
        <% @job_efforts.each do |effort| %>
            <div class="col m6">
              <div id="effort-index-card" class="card darken-3">
                <div class="card-content">
                  <%= image_tag(effort.member.image) %>
                  <span class="card-title"><b><%= link_to effort.title, user_effort_path(user: effort.member, id: effort.id) %></b></span>
                  <p><%= effort.member.name %></p>
                </div>
              </div>
            </div>
        <% end %>
      </div>
<% else %>
      <h4>No efforts at this moment, check back later!</h4>
  <% end %>
</div>
