<div class="row">
  <div class="col s12 m5">
    <div class="card light-blue darken-2 profile-card">
      <div id="member-title" class="card-content white-text">
        <div class="card-title">
          <%= image_tag(@user.image) %>
          <h4 class="card-title"><%= @user.name %></h4>
          <h6><%= @user.role %></h6>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m5">
    <div id="my-efforts" class="card white profile-card">
      <div id="volunteer-efforts" class="card-content black-text">
        <table>
          <thead>
          <tr>
            <th data-field="id">Active Effort's For You</th>
            <th><%= link_to "Create Effort", new_user_effort_path(@user), id: "modal1-button", class: "waves-effect waves-light btn modal-trigger"%></th>
          </tr>
          </thead>
          <tbody>
          <% current_user.efforts.uniq.each do |effort| %>
              <% if effort.active %>
                  <tr>
                    <td><%= link_to effort.title, user_effort_path(id: effort.id, user: effort.member) %></td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col s12 m1">
    <div id="profile-stripe1" class="card">
      <div class="card-content white-text">
        <div class="card-title">
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m1">
    <div id="profile-stripe2" class="card">
      <div class="card-content white-text">
      </div>
    </div>
  </div>
  <div class="col s12 m1">
    <div id="profile-stripe3" class="card">
      <div class="card-content white-text">
        <div class="card-title">
        </div>
      </div>
    </div>
  </div>
  <div id="member-efforts" class="card-action">
    <%= render partial: 'partials/effort_card' %>
  </div>
</div>
</div>
<div class="col s12">
  <div class="card light-blue darken-2">
    <div class="card-content white-text">
      <p><span class="card-title">My Mission: </span><%= @user.mission %></p>
    </div>
  </div>
</div>
<div class="col s12">
  <div id="hobbies" class="card light-blue darken-2">
    <div class="card-content white-text">
      <p><span class="card-title">My Hobbies: </span><%= @user.hobby %></p>
    </div>
  </div>
</div>
<div class="col s12">
  <div id="sponsors" class="card light-blue darken-2">
    <div class="card-content white-text">
      <span class="card-title">My Sponsors:</span>
      <% @user.sponsor_count.each do |sponsor_pair| %>
          <%= image_tag(sponsor_pair.first.image) %>
          <div class="chip"><%= sponsor_pair.last %></div>
      <% end %>
    </div>
  </div>
</div>
<div class="col s12">
  <div id="volunteers" class="card light-blue darken-2">
    <div class="card-content white-text">
      <span class="card-title">My Volunteers:</span>
      <%= image_tag(@user.volunteer_count.first.first.image) %>
      <div class="chip"><%= @user.volunteer_count.first.last %></div>
    </div>
  </div>
</div>
</div>